<%- include('./partials/header') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  <img src="/images/HSW.png" class="image">

  <h2 id="quote">"Give teachers the respect they deserve,
    because they are <br>the ones who can help you get where you need to go" - Richard Howard</h2>

  <section id="mainPage">
  <div class= "home-page">
    <h2>About</h2>
    <h3>Honest Schools is a community where districts are held accountable by teachers for teachers. 
      All review of districts are honest reviews from fellow teachers that reflect the community, administrative support and a healthy 
      work-life balance. 
    </h3></div>
  <div class = 'home-page'>
    <h2>Resources</h2>
    <h3>Whether you are still a teacher in the classroom or a teacher who is looking to leave for a new career, we have the resources here to support you. </h3></div>

    <div class = 'home-page'>
      <h2>Forums</h2>
      <h3>Connect with teachers all over the world. You can make connections or seek advice from fellow teachers. We have a place for any topic you can think of. </h3></div>
    </section>
    
 

