
body{
  background-color: rgb(228, 228, 228);
}
nav {
  background: greenyellow;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
  font-family: 'Nanum Myeongjo', serif;
  color: green;

}

a{
  color: green;
}

h1 {
  font-family: 'Nanum Myeongjo', serif;
  text-align: start;
  color: green;
  padding: 0 0 0 20px;

}

#new-district {
  color: green;
  font-family: 'Nanum Myeongjo', serif;
  padding: 10px;
  
}

/* h2 {
  font-family: 'Nanum Myeongjo', serif;
  color: green;
  padding: 10px;

} */

#about-section {
  color: green;
  font-family: 'Nanum Myeongjo', serif;
  box-sizing: content-box;
  width: 33.33%;
  text-align: center;
  border-color: green;
  border-style: solid;



}

#resources{
  color: green;
  font-family: 'Nanum Myeongjo', serif;
  box-sizing: content-box;
  width: 33.33%;
  text-align: center;
  border-color: green;
  border-style: solid;
}

#home-page {
  direction: flex;
  flex-direction: row;
}

.container {
  color: purple;

}

.image-con {
  max-height: 70vh;
  overflow:hidden;
}