
body{
  background-color: rgb(228, 228, 228);
  margin: 0;
  padding: 0;
}
nav {
  background: greenyellow;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
  font-family: 'Nanum Myeongjo', serif;
  color: green;

}

a{
  color: green;
}

h1 {
  font-family: 'Nanum Myeongjo', serif;
  text-align: start;
  color: green;
  padding: 0 0 0 20px;

}

#new-district {
  color: green;
  font-family: 'Nanum Myeongjo', serif;
  padding: 10px;
  
}

/* h2 {
  font-family: 'Nanum Myeongjo', serif;
  color: green;
  padding: 10px;

} */

#about-section {
  color: green;
  font-family: 'Nanum Myeongjo', serif;
  box-sizing: content-box;
  width: 33.33%;
  text-align: center;
  border-color: green;
  border-style: solid;



}

#resources{
  color: green;
  font-family: 'Nanum Myeongjo', serif;
  box-sizing: content-box;
  width: 33.33%;
  text-align: center;
  border-color: green;
  border-style: solid;
}

.home-page {
  position: relative;
  background: rgb(202, 202, 202);
  margin: 15px;
  box-sizing: border-box;
  overflow:hidden;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-family: 'Nanum Myeongjo', serif;
  width: 800px;
  height: 200px;
  margin: 10px auto;
}

.container {
  color: green;
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 10px auto;

}

.all-list {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: rgb(202, 202, 202);
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow:hidden;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-family: 'Nanum Myeongjo', serif;
}

#allSchoolDistricts {
  text-align: center;
  padding: 20px;
  font-weight: bolder;
}

.newDistrict {
  color: green;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
}

#logo {
  text-align: center;
}

#quote {
  color: green;
  font-family: 'Nanum Myeongjo', serif;
  padding: 0 0 0 30px;
  font-style: italic;
  text-align: center;
}

.infoPage {
  padding: 0 0 0 30px;
}

#mainPage {
  padding: 30px;
}