.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

body{
  background-color: rgb(228, 228, 228);
}
nav {
  background: greenyellow;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
  font-family: 'Capriola', sans-serif;
  font-family: 'Fredoka One', cursive;
  font-family: 'Mochiy Pop One', sans-serif;
  color: green;

}

a{
  color: green;
}

h1 {
  font-family: 'Capriola', sans-serif;
  font-family: 'Fredoka One', cursive;
  font-family: 'Mochiy Pop One', sans-serif;
  text-align: start;
  color: green;
  padding: 0 0 0 20px;

}

#new-district {
  color: green;
  font-family: 'Capriola', sans-serif;
  font-family: 'Fredoka One', cursive;
  font-family: 'Mochiy Pop One', sans-serif;
  padding: 10px;
  

}
