<%- include('../partials/header') %>
<% if (user) { %>
    <br><br><h2>District Review</h2>

    <form id="review-info" method="POST"
    action="/districts/<%= districtInfo._id %>/reviews">
    

    <label>Review:</label>
    <textarea name = "content"></textarea>
    <label>Community Rating:</label>
    <select name="comRating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label>Admin Support Rating:</label>
    <select name="adminRating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label>Work-Life Balance Rating:</label>
    <select name="workRating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Update Review">
    </form>
    </form>
    <% } %>