<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('../partials/header') %>

<section id="district-layout">

<form action="/districts" method="POST">
 <!--Enter a New District Page-->
 
  
  
  <div class="newDistrict">
    <h2>Enter a New District</h2>
    <!-- <label>Picture:
      <input name="districtPic">
      </label><br>
      <br> -->
  <label>District Name:
    <input type="text" name="districtName">
  </label><br>
  <br>
  <label>Address:
    <input type="text" name="address">
  </label><br>
  <br>
  <input type="submit" value="Add District">
</form>
</div>
</section>