<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Capriola&family=Fredoka+One&family=Mochiy+Pop+One&display=swap" rel="stylesheet">

<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('../partials/header') %>

<h2 id="new-district">Enter a New District</h2>
<form action="/districts/new" method="POST">
  <label>District Name:
    <input type="text" name="districtName">
  </label><br>
  <label>Address:
    <input type="text" name="address">
  </label><br>
  <input type="submit" value="Add District">
</form>