<h2>Enter a New District</h2>
<form action="/districts/new" method="POST">
  <label>District Name:
    <input type="text" name="districtName">
  </label><br>
  <label>Address:
    <input type="text" name="address">
  </label><br>
  <input type="submit" value="Add District">
</form>