<!--clicked information-->
School Information <!--make title appear later-->
<div>Picture
    <%= districtInfo.districtPic %> 
</div>
<div>District Name:
    <%= districtInfo.districtName %> 
</div>
<div>Address:
    <%= districtInfo.address %> 
</div>